**Data** **Preparation**

# Need of Pre-Processing

# Tabular data Pre-processing

- Structured data - Tabular data
- Semistructured data - Json data
- Unstructured data - Text file

# Exploratory Data Analysis [EDA] on Titanic Dataset



: Feature Engineering
- Data Pre-processing and
- **Exploratory Data Analysis [EDA]**
- **Data Visualization**
- Feature Extraction
- Feature Selection

**DATASET:** [https://www.kaggle.com/c/titanic/overview ]

## Data reading and setup

In [ ]:
### Titanic Dataset

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style

In [ ]:
test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("train.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'test.csv'

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
total = train_df.isnull().sum()
total

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
total = train_df.isnull().sum().sort_values(ascending=False)
percent_1 = train_df.isnull().sum()/train_df.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False) #rounds the values in percent_1 to one decimal place and sorts them in descending order.
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data

In [ ]:
# Check if there are any duplicates
train_df.duplicated()

In [ ]:
# Drop Duplicates
train_df.drop_duplicates(inplace=True)
train_df

In [ ]:
# Check if there is any missing data
train_df.isnull()

# METHOD-1: TO DROP NaN values
# METHOD-2: TO fill NaN values with 0

In [ ]:
train_df.dropna()

In [ ]:
# Fill missing data with 0
train_df.fillna(0)

In [ ]:
train_df.dropna()

**Spend some time with data**

**Features from Dataset**
- survival:    Survival [0 = No, 1 = Yes]
- PassengerId: Unique Id of a passenger.
- pclass:    Ticket class [ 1 = 1st, 2 = 2nd, 3 = 3rd]    
- sex:    Sex     
- Age:    Age in years     
- sibsp:    # of siblings / spouses aboard the Titanic     
- parch:    # of parents / children aboard the Titanic     
- ticket:    Ticket number     
- fare:    Passenger fare     
- cabin:    Cabin number     
- embarked:    Port of Embarkation - [C = Cherbourg, Q = Queenstown, S = Southampton]

In [ ]:
train_df.head(8)

In [ ]:
# Fill missing data with 0
train_df.fillna(0,inplace=True)
train_df

In [ ]:
train_df.dropna(inplace=True)
train_df

In [ ]:
train_df.duplicated()

In [ ]:
train_df.head(8)

+ Catogrical Values
+ Different scale of numeric data
+ Missing values

### Missing Values

In [ ]:
total = train_df.isnull().sum().sort_values(ascending=False)
percent_1 = train_df.isnull().sum()/train_df.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data

# EDA : Exploratory Data Analysis

Exploratory Data Analysis refers to the critical process of performing initial investigations on data so as to discover patterns,to spot anomalies,to test hypothesis and to check assumptions with the help of summary statistics and graphical representations[]

Age vs Sex vs Survival

In [ ]:
survived = 'survived'
not_survived = 'not survived'
fig, axes = plt.subplots(nrows=1, ncols=2,figsize=(10, 4))
women = train_df[train_df['Sex']=='female']
men = train_df[train_df['Sex']=='male']
# Using histplot for histograms
sns.histplot(women[women['Survived'] == 1].Age.dropna(), bins=18, label=survived, kde=False, ax=axes[0])
sns.histplot(women[women['Survived'] == 0].Age.dropna(), bins=40, label=not_survived, kde=False, ax=axes[0])
axes[0].legend()
axes[0].set_title('Female')

# Using histplot for histograms
sns.histplot(men[men['Survived'] == 1].Age.dropna(), bins=18, label=survived, kde=False, ax=axes[1])
sns.histplot(men[men['Survived'] == 0].Age.dropna(), bins=40, label=not_survived, kde=False, ax=axes[1])
axes[1].legend()
axes[1].set_title('Male')

plt.show()

Embarked vs Pclass vs Sex

In [ ]:
FacetGrid = sns.FacetGrid(train_df, row='Embarked', height=4.5, aspect=1.6)
FacetGrid.map(sns.pointplot, 'Pclass', 'Survived', 'Sex', palette='dark:#1f77b4',  order=None, hue_order=None )
FacetGrid.add_legend()

Pclass

In [ ]:
sns.barplot(x='Pclass', y='Survived', data=train_df)

In [ ]:
grid = sns.FacetGrid(train_df, col='Survived', row='Pclass', height=2.2, aspect=1.6)
grid.map(plt.hist, 'Age', alpha=0.5, bins=20)

#It plots the distribution of ages ('Age' column) for each combination of 'Survived' and 'Pclass'.
#The alpha parameter controls the transparency of the bars, and bins specifies the number of bins in the histogram.

SibSp and Parch (also some feature engg)

- Creating a new feature called 'relatives' in both the train_df and test_df DataFrames.

- It calculates the total number of relatives for each passenger by summing the 'SibSp' (number of siblings/spouses aboard) and 'Parch' (number of parents/children aboard) columns.

In [ ]:
data = [train_df, test_df]
for dataset in data:
    dataset['relatives'] = dataset['SibSp'] + dataset['Parch']
    dataset.loc[dataset['relatives'] > 0, 'not_alone'] = 0
    dataset.loc[dataset['relatives'] == 0, 'not_alone'] = 1
    dataset['not_alone'] = dataset['not_alone'].astype(int)

In [ ]:
train_df.head()

no of people alone or not

In [ ]:
train_df['not_alone'].value_counts()

In [ ]:
# Use catplot
g = sns.catplot(x='relatives', y='Survived', data=train_df, aspect=2.5, kind='point')

# You can customize the plot further if needed
g.set_axis_labels('Number of Relatives', 'Survival Probability')
g.set_xticklabels(rotation=45)  # Rotate x-axis labels for better visibility

plt.show()

In [ ]:
# df_train_drop = train_df.dropna()

# sns.pairplot(df_train_drop, hue='Survived');
sns.pairplot(train_df, hue='Survived');

# Data preprocessing and Feature Engg

drop passenger ID

In [ ]:
train_df = train_df.drop(['PassengerId'], axis=1)
train_df

Fix cabin

In [ ]:
train_df['Cabin'] #looks like the cabin number - lets convert to deck

In [ ]:
import re

deck = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "U": 8}
data = [train_df, test_df]

for dataset in data:
    dataset['Cabin'] = dataset['Cabin'].fillna("U0")

    # Explicitly convert to string and then use apply with a lambda function to handle the extraction
    dataset['Deck'] = dataset['Cabin'].astype(str).apply(lambda x: re.compile("([a-zA-Z]+)").search(x).group() if re.compile("([a-zA-Z]+)").search(x) else "U")

    dataset['Deck'] = dataset['Deck'].map(deck)
    dataset['Deck'] = dataset['Deck'].fillna(0)
    dataset['Deck'] = dataset['Deck'].astype(int)
#We take the 'Cabin' information and look for letters in it (like A, B, C, etc.).
#This information is assumed to represent the deck where the passenger's cabin is located.
#If we find a letter, we use it as the deck; otherwise, we set it to "U" (for unknown).

In [ ]:
train_df

In [ ]:
# Now you can drop the 'Cabin' feature
train_df = train_df.drop(['Cabin'], axis=1)
test_df = test_df.drop(['Cabin'], axis=1)

In [ ]:
train_df.head()

**Fix** **Age**

**Lets get the mean,std of age and create random ages in the range**

- The process of generating random numbers and filling missing values in the 'Age' column is a technique known as imputation.
- Imputation is used when there are missing values in a dataset, and it involves replacing those missing values with estimated or generated values.
- In this specific case, the goal is to impute missing 'Age' values using random numbers within a certain range.

In [ ]:
data = [train_df, test_df]

for dataset in data:
    mean = train_df["Age"].mean()
    std = test_df["Age"].std()
    is_null = dataset["Age"].isnull().sum()
    # compute random numbers between the mean, std and is_null
    rand_age = np.random.randint(mean - std, mean + std, size = is_null)
    # fill NaN values in Age column with random values generated
    age_slice = dataset["Age"].copy()
    age_slice[np.isnan(age_slice)] = rand_age
    dataset["Age"] = age_slice
    dataset["Age"] = train_df["Age"].astype(int)
train_df["Age"].isnull().sum()

In [ ]:
train_df.head()

**Fix Embarked - only 3 missing so lets do most common**

In [ ]:
train_df['Embarked'].describe()
#top is the mode(most frequently occuring)

count     891
unique      4
top         S
freq      644
Name: Embarked, dtype: object

In [ ]:
common_value = 'S'
data = [train_df, test_df]

for dataset in data:
    dataset['Embarked'] = dataset['Embarked'].fillna(common_value)

In [ ]:
train_df

In [ ]:
train_df['Embarked'].isnull()

## Converting Features

Fare - convert to int

In [ ]:
data = [train_df, test_df]

for dataset in data:
    dataset['Fare'] = dataset['Fare'].fillna(0)
    dataset['Fare'] = dataset['Fare'].astype(int)
train_df.head()

Name - Extract Titles from name

In [ ]:
data = [train_df, test_df]
titles = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}

for dataset in data:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess', 'Capt', 'Col', 'Don', 'Dr', \
                                                'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

    # Remove titles from 'Name' column
    dataset['Name'] = dataset['Name'].str.replace('Mr\.', '').str.replace('Mrs\.', '').str.replace('Miss\.', '').str.replace('Master\.', '')

    dataset['Title'] = dataset['Title'].map(titles)
    dataset['Title'] = dataset['Title'].fillna(0)

# Display the modified train_df DataFrame
train_df.head()

In [ ]:
train_df.head()

Sex to numeric

In [ ]:
genders = {"male": 0, "female": 1}
data = [train_df, test_df]

for dataset in data:
    dataset['Sex'] = dataset['Sex'].map(genders)

In [ ]:
train_df

Ticket

In [ ]:
train_df['Ticket'].describe()

count        891
unique       681
top       347082
freq           7
Name: Ticket, dtype: object

too many unique values...lets drop it

In [ ]:
train_df = train_df.drop(['Ticket'], axis=1)
test_df = test_df.drop(['Ticket'], axis=1)

In [ ]:
train_df

Embarked

In [ ]:
ports = {"S": 0, "C": 1, "Q": 2}
data = [train_df, test_df]

for dataset in data:
    dataset['Embarked'] = dataset['Embarked'].map(ports).fillna(0).astype(int)

In [ ]:
train_df

## Creating Categories

Age - convert into buckets... be carefull that number of samples in each class should be kinda equal

In [ ]:
data = [train_df, test_df]
for dataset in data:
    dataset['Age'] = dataset['Age'].astype(int)
    dataset.loc[ dataset['Age'] <= 11, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 11) & (dataset['Age'] <= 18), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 18) & (dataset['Age'] <= 22), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 22) & (dataset['Age'] <= 27), 'Age'] = 3
    dataset.loc[(dataset['Age'] > 27) & (dataset['Age'] <= 33), 'Age'] = 4
    dataset.loc[(dataset['Age'] > 33) & (dataset['Age'] <= 40), 'Age'] = 5
    dataset.loc[(dataset['Age'] > 40) & (dataset['Age'] <= 66), 'Age'] = 6
    dataset.loc[ dataset['Age'] > 66, 'Age'] = 7

In [ ]:
train_df

In [ ]:
train_df['Age'].value_counts()

Fare

In [ ]:
data = [train_df, test_df]

for dataset in data:
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[(dataset['Fare'] > 31) & (dataset['Fare'] <= 99), 'Fare']   = 3
    dataset.loc[(dataset['Fare'] > 99) & (dataset['Fare'] <= 250), 'Fare']   = 4
    dataset.loc[ dataset['Fare'] > 250, 'Fare'] = 5
    dataset['Fare'] = dataset['Fare'].astype(int)

In [ ]:
train_df

## Creating new features

Age time class since we saw a affect of both on surviving

In [ ]:
data = [train_df, test_df]
for dataset in data:
    dataset['Age_Class']= dataset['Age']* dataset['Pclass']

In [ ]:
train_df

Fare per person in family - is a indication of number of people and which class

In [ ]:
for dataset in data:
    dataset['Fare_Per_Person'] = dataset['Fare']/(dataset['relatives']+1)
    dataset['Fare_Per_Person'] = dataset['Fare_Per_Person'].astype(int)

In [ ]:
train_df.head(10)